

.big-text{
    line-height:1;
    font-size: 6rem;
    //margin: 1em 2em;
}
.countdown-container {
    display: flex;
    
    flex-wrap: wrap;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin:auto;
}

.countdown-box{
    width:90%;
    max-width:1000px;
    margin:4em auto 15em auto;
    padding:2rem;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.days-c, .hours-c, .minutes-c, .seconds-c{
    width:200px;
}

h1{
    font-size: 3rem;
    text-align:center;
    margin-top:0;
}
span{
    font-size:2rem;
}

@media only screen and (max-width: 800px) {
    .days-c, .hours-c, .minutes-c, .seconds-c{
        width:300px;
    }
}